<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Configure the front controller -->
    <!-- This accepts every request coming from the client -->
    <!-- So this helps with handling all the URL mappings of our website -->
    <!-- Servlet is a Java program running on the server to handle requests -->
    <servlet>
        <servlet-name>dispatcher</servlet-name> <!-- By convention, our
        servlet file name must match this (dispatcher-servlet.xml) -->
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <!-- Servlet mapping -->
    <!-- '/' is the path since that would force all requests to the
    FrontController -->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>